* {
    box-sizing: border-box;
    color: black;
    text-decoration: none;
  }

  /* Body with the size of the margin and background colour */
  body {
    margin: 0;
    background-color:beige;
    
  }

  /* main with flex feautures and sizes */
  main {
    /* display: flex; */
    flex-wrap: wrap;
    /* margin-top: 2%; */
  }

  /* header with features like the size, background colour or flex */
  /* .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: rgb(128, 169, 197);
    text-align: center;
    font-size: 20px;
  } */
 
  /* nav with some features like flex which will help make a flow in the webpage */
  nav {
    display: flex;
    justify-content: flex-end;
    background-color: beige;
    border-style: solid none solid none;
    border-width: thin;
  }

  /* nav blocks in specific directions */
  nav a {
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  /*It creates a hover over nav */
  nav a:hover {
    background-color: rgb(3 3 3 / 24%);
    color: black;
  }

  .header h1 {
    font-weight: 700; color:#202020;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
  }
  .header h1 span {
    margin-top: 40px;
    text-transform: none;
    font-size:.6em;
    font-weight: normal;
    font-style: italic; font-family: "Playfair Display","Bookman",serif;
    color:#7e7d7d; letter-spacing:-0.005em; word-spacing:1px;
    letter-spacing:none;
  }

  /* Section Info with some features to its block */
  .info{
    background-color: rgb(128, 169, 197);
    text-align: center;
    border-style: solid ;
  }

  /* It creates a hover over the section info */
  .info:hover {
    background-color: beige;
    color: black;
  }

  /* Section projects, the whole section with some features */
  .projects {
    flex: 4;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border-style: solid */
  }
  
  /* Section Proj, each box with some features */
  .Proj {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    /* border-style: dotted; */
    border-width: 3px;
    background-color: rgb(3 3 3 / 24%);
    margin: 8px;

  }

  /* It creates a hover over the section Proj */
  .Proj:hover {
    background-color: beige;
    color: black;
  }

    /*Font size for the paragraphs */
    p {
        font-size: 22px;
    }

    /* The size of the images */
    .projects img {
    width: 100%;
    min-width: 400px;
    
  }

  /* section contact at the center */
  .contact{
    align-items: center;
    text-align: center;
  }

  /*It creates a hover over the section contact  */
  .contact:hover {
    background-color: rgb(128, 169, 197);
    color: black;
  }

  /* It makes the flex direction of main and nav to go along the column */
  @media screen and (max-width: 768px) {
    main,
    nav{
      flex-direction: column;
    }
    }
  
  /* The section name footer with some features  */
  .footer {
    padding: 1%;
    text-align: center;
    background: beige;
    margin-top: auto;
    border-style: solid none none none;
    border-width: thin;
  }

  .project-details {
    display: none;
    position: fixed; /* Use fixed positioning to cover the whole page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%); /* Semi-transparent background for overlay */
    color: #fff; /* Text color for details */
    padding: 50px;
    z-index: 1;
    overflow-y: auto; /* Allow scrolling if details exceed the viewport */
    font-size: x-large;
    text-align: center;
  }

  button{
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:15px;
    font-size: 30px;
    display: block;
  }

  button:hover {
    background-color:rgb(128, 169, 197);
    transition: 0.7s;
    
}

  .Proj {
    position: relative;
  }
  
  .Proj.active .project-details {
    display: block;
    z-index: 2; /* Ensure details appear above other content */
  }